body{
    color:aqua;
    background-color: black;
    margin:0px
}
header {
    border-bottom: solid 4px rgb(114, 25, 150);
    padding: 20px;
    font-size: 32px;
    color: rgba(223, 44, 169, 0.753);
}
section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}